html, body{
    height: 100vh;
    font-size: 14px;
    line-height: 1.2em;
}

app-header, header{
    height: 7vh;
    max-height: 7vh;
    z-index: 999;
}

header .material-icons{
    font-size: 1.5em;
}

router-outlet{
    height: 93vh;
    max-height: 93vh;
    overflow: auto;
}

#task1 table tr{
    border-bottom: 2px solid #ccc;
}

#task1 table td, #task1 table th{
    padding: .2em .5em;
    border: 2px solid rgb(228, 228, 228);
}

#task1 table td{
    border-top: 0px !important;
}

#task1 table tr>td:first-of-type{
    border-left: 0px;
}

#task1 table tr>td:last-of-type{
    border-right: 0px;
}